.button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid;
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
  transition: var(--transition-out);
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  transform: scale(0.975);
  transition: var(--transition-in);
}

.primary {
  background-color: var(--cta-color);
  border-color: var(--cta-color);
  color: var(--cta-text-color);
}

.secondary {
  background-color: var(--background-color);
  border-color: var(--border-color);
}
