.button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: 1px solid;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
}

.primary {
  background-color: var(--cta-color);
  border-color: var(--cta-color);
  color: var(--black);
}

.secondary {
  background-color: var(--background-color);
  border-color: var(--border-color);
  color: var(--white);
}

@media (prefers-color-scheme: light) {
  .primary {
    color: var(--white);
  }
  .secondary {
    color: var(--black);
  }
}
