.container {
  margin-top: 3rem;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.nftList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.loading,
.error {
  font-size: 2rem;
}

.error {
  color: var(--red);
}

.loadMoreButton {
  margin: 2rem;
  width: fit-content;
}

/* Modal content */
.buyButton {
  margin-top: 2rem;
  width: 100%;
}
